In [122]:
import cv2
import numpy as np
import pandas as pd
import os
from sklearn import utils
from tqdm.notebook import tqdm
import matplotlib as plt
import matplotlib.pyplot as matplot
%matplotlib inline

In [123]:
train_dir = r'C:\Users\Iver_Home\CP_ft\temp'

In [124]:
def labeling(img):
    class_name = img.split('.')[0]
    if class_name == 'dunhill':
        return 0
    elif class_name =='marlboro':
        return 2
    elif class_name =='esse':
        return 3
    elif class_name =='bohem':
        return 4
    elif class_name =='mevius':
        return 1

In [125]:
print(labeling('esse.14.jpg'))

3

In [126]:
print(os.listdir(train_dir))

['esse.41.jpg']

In [137]:
L_number = np.zeros((1,1))
raw_data = np.zeros((161,286,3))

In [127]:
'''
x_data = list()
t_data = list()
'''

[]

In [130]:
'''
for img in tqdm(os.listdir(train_dir)):
    total = len(os.listdir(train_dir))   #=100
    #position = 0
    #leave = True
    label_data = labeling(img)
    img_path = os.path.join(train_dir,img)
    img_data = cv2.resize(cv2.imread(img_path,cv2.IMREAD_COLOR),(126,95))
    #img_data : 3d array

    x_data.append(img_data.flatten())
        
    t_data.append(label_data)
    
print(img_data)

print(x_data)
'''

'\nfor img in tqdm(os.listdir(train_dir)):\n    total = len(os.listdir(train_dir))   #=100\n    #position = 0\n    #leave = True\n    label_data = labeling(img)\n    img_path = os.path.join(train_dir,img)\n    img_data = cv2.resize(cv2.imread(img_path,cv2.IMREAD_COLOR),(126,95))\n    #img_data : 3d array\n\n    x_data.append(img_data.flatten())\n        \n    t_data.append(label_data)\n    \nprint(img_data)\n\nprint(x_data)\n'

In [131]:
#  -126~126 --> 0~255
#arr128 = np.full((250,35910),128)
#x_data = x_data + arr128

#x_data = np.array(x_data)
#x_data = x_data + 128

x_df = pd.DataFrame(x_data)
t_df = pd.DataFrame({'label':t_data})
display(x_df)

,0,1,2,3,4,5,6,7,8,9,...,138128,138129,138130,138131,138132,138133,138134,138135,138136,138137
0,121,127,126,123,-127,-128,124,-126,-127,123,...,113,113,116,114,114,117,115,116,119,117

In [132]:
df = pd.merge(t_df, x_df, left_index=True, right_index=True)
shuffled_df = utils.shuffle(df)

In [133]:
shuffled_df.to_csv(r'C:\Users\Iver_Home\CP_ft\mix_output\single_test_20220529.csv', index=False)
#df.to_csv(r'C:\Users\Iver_Home\CP_ft\mix_output\test_all2.csv', index=False)